spring:
  application:
    name: ai

  profiles:
    active: local

  mvc:
    log-request-details: true

logging:
  level:
    root: INFO
    ktb.team5.ai: DEBUG
    org.springframework.web: DEBUG
    org.springframework.web.servlet.mvc.method.annotation: TRACE
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"